#css_table {
    display:table;
    margin:0 auto;
    width: 420px;
}
.css_tr {
    display: table-row;
    height: 50px;
}
.css_td {
    display: table-cell;
    width: 80px;
    text-align:center;
}

div[onclick]:hover {
    background-color: yellow;
  }